/coverage/*
/docker/db/*
/log/*
/storage/*
/tmp/*
!/coverage/.keep
!/log/.keep
!/tmp/.keep
!/storage/.keep
/config/database.yml
/config/master.key
/config/redis.yml
/.bundle
/.idea
/.byebug_history
/.env
.DS_Store
