{
  "openapi": "3.0.0",
  "info": {
    "title": "Squeeze API",
    "version": "1.0",
    "description": "Squeeze App API OpenAPI v3 documentation",
    "contact": {
      "name": "Squeeze Team",
      "email": "hugo@squeeze.app",
      "url": "https://squeeze.app"
    },
    "license": {
      "name": "MIT"
    },
    "termsOfService": "https://squeeze.app/terms"
  },
  "servers": [
    {
      "url": "http://squeeze.lvh.me",
      "description": "Development"
    },
    {
      "url": "https://floating-brook-34623.herokuapp.com",
      "description": "Staging"
    },
    {
      "url": "https://api.squeeze.app",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/users": {
      "post": {
        "summary": "User registration",
        "tags": [
          "Users"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "User",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile": {
                          "title": "Profile",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "uuid": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "uuid",
                            "first_name",
                            "last_name",
                            "created_at",
                            "updated_at"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uuid",
                        "email",
                        "created_at",
                        "updated_at",
                        "profile"
                      ]
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "operationId": "post-v1-users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "title": "CreateUser",
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      },
                      "password_confirmation": {
                        "type": "string",
                        "format": "password"
                      },
                      "profile": {
                        "title": "CreateProfile",
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "first_name",
                          "last_name"
                        ]
                      }
                    },
                    "required": [
                      "email",
                      "password",
                      "password_confirmation",
                      "profile"
                    ]
                  }
                }
              }
            }
          },
          "description": "User registration JSON request structure"
        },
        "description": "User registration with nested profile"
      }
    },
    "/v1/user": {
      "put": {
        "summary": "User profile update",
        "operationId": "put-v1-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "User",
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "User",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile": {
                          "title": "Profile",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "uuid": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "uuid",
                            "first_name",
                            "last_name",
                            "created_at",
                            "updated_at"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uuid",
                        "email",
                        "created_at",
                        "updated_at",
                        "profile"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "description": "User profile update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateProfile",
                "type": "object",
                "description": "",
                "properties": {
                  "data": {
                    "title": "UpdateUser",
                    "type": "object",
                    "properties": {
                      "profile": {
                        "title": "UpdateProfile",
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "first_name",
                          "last_name"
                        ]
                      }
                    },
                    "required": [
                      "profile"
                    ]
                  }
                }
              }
            }
          },
          "description": "User profile update JSON request structure"
        },
        "security": [
          {
            "Authentication token": []
          }
        ],
        "tags": [
          "Users"
        ]
      },
      "patch": {
        "summary": "User profile update",
        "operationId": "patch-v1-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "User",
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "User",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile": {
                          "title": "Profile",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "uuid": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "uuid",
                            "first_name",
                            "last_name",
                            "created_at",
                            "updated_at"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uuid",
                        "email",
                        "created_at",
                        "updated_at",
                        "profile"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "description": "Allow user profile update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateProfile",
                "type": "object",
                "description": "",
                "properties": {
                  "data": {
                    "title": "UpdateUser",
                    "type": "object",
                    "properties": {
                      "profile": {
                        "title": "UpdateProfile",
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "first_name",
                          "last_name"
                        ]
                      }
                    },
                    "required": [
                      "profile"
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Users"
        ],
        "security": [
          {
            "Authentication token": []
          }
        ]
      }
    },
    "/v1/authentication": {
      "post": {
        "summary": "Users authentication",
        "operationId": "post-v1-authentication",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AuthenticationToken",
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "AuthenticationToken",
                      "type": "object",
                      "properties": {
                        "authentication_token": {
                          "type": "string"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "authentication_token",
                        "expires_at"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "description": "Users authentication by email and password",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "UserCredentials",
                "type": "object",
                "x-examples": {
                  "example-1": {}
                },
                "properties": {
                  "data": {
                    "title": "UserCredentials",
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      }
                    },
                    "required": [
                      "email",
                      "password"
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "title": "UserCredentials",
                "type": "object",
                "x-examples": {
                  "example-1": {}
                },
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "password": {
                        "type": "string",
                        "format": "password"
                      }
                    },
                    "required": [
                      "email",
                      "password"
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "User accounts search",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "Account",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "uud": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "description": {
                            "type": "string"
                          },
                          "reference_number": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "bank_account",
                              "cash",
                              "credit_card",
                              "debit_card"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "uud",
                          "description",
                          "reference_number",
                          "created_at",
                          "updated_at",
                          "kind"
                        ]
                      }
                    },
                    "meta": {
                      "title": "Metadata",
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        },
                        "current_page": {
                          "type": "number"
                        },
                        "next_page": {
                          "type": "number"
                        },
                        "prev_page": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "total_count",
                        "total_pages",
                        "current_page",
                        "next_page",
                        "prev_page"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-v1-accounts",
        "description": "User accounts search",
        "parameters": [
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "page",
            "description": ""
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "per_page"
          }
        ],
        "security": [
          {
            "Authentication token": []
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create user account",
        "operationId": "post-v1-accounts",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Account",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "uud": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": {
                          "type": "string"
                        },
                        "reference_number": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "bank_account",
                            "cash",
                            "credit_card",
                            "debit_card"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uud",
                        "description",
                        "reference_number",
                        "created_at",
                        "updated_at",
                        "kind"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "description": "Create user account",
        "security": [
          {
            "Authentication token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "title": "StoreAccount",
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string"
                      },
                      "reference_number": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "description",
                      "kind",
                      "reference_number"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{id}": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "schema": {
            "type": "integer"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "User account find",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Account",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "uud": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": {
                          "type": "string"
                        },
                        "reference_number": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "bank_account",
                            "cash",
                            "credit_card",
                            "debit_card"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uud",
                        "description",
                        "reference_number",
                        "created_at",
                        "updated_at",
                        "kind"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-v1-accounts-member",
        "description": "User account find",
        "security": [
          {
            "Authentication token": []
          }
        ]
      },
      "put": {
        "summary": "User account update",
        "operationId": "put-v1-accounts-member",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Account",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "uud": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": {
                          "type": "string"
                        },
                        "reference_number": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "bank_account",
                            "cash",
                            "credit_card",
                            "debit_card"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uud",
                        "description",
                        "reference_number",
                        "created_at",
                        "updated_at",
                        "kind"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Authentication token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "title": "StoreAccount",
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string"
                      },
                      "reference_number": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "description",
                      "kind",
                      "reference_number"
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "User account update"
      },
      "patch": {
        "summary": "User account update",
        "operationId": "patch-v1-accounts-member",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "title": "Account",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "uud": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": {
                          "type": "string"
                        },
                        "reference_number": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "bank_account",
                            "cash",
                            "credit_card",
                            "debit_card"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "uud",
                        "description",
                        "reference_number",
                        "created_at",
                        "updated_at",
                        "kind"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "error",
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Authentication token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "title": "StoreAccount",
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string"
                      },
                      "reference_number": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "description",
                      "kind",
                      "reference_number"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "User account update",
        "tags": [
          "Accounts"
        ]
      },
      "delete": {
        "summary": "User account delete",
        "operationId": "delete-v1-accounts-member",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Authentication token": []
          }
        ],
        "description": "User account delete",
        "tags": [
          "Accounts"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authentication token": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Users authentication endpoint will provide a JWT for authorization. Expiration time is 24 hours after generation."
      }
    },
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "profile": {
            "title": "Profile",
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "uuid",
              "first_name",
              "last_name",
              "created_at",
              "updated_at"
            ]
          }
        },
        "required": [
          "id",
          "uuid",
          "email",
          "created_at",
          "updated_at",
          "profile"
        ]
      },
      "Profile": {
        "title": "Profile",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "uuid",
          "first_name",
          "last_name",
          "created_at",
          "updated_at"
        ]
      },
      "CreateUser": {
        "title": "CreateUser",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          },
          "password_confirmation": {
            "type": "string",
            "format": "password"
          },
          "profile": {
            "title": "CreateProfile",
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            },
            "required": [
              "first_name",
              "last_name"
            ]
          }
        },
        "required": [
          "email",
          "password",
          "password_confirmation",
          "profile"
        ]
      },
      "CreateProfile": {
        "title": "CreateProfile",
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        },
        "required": [
          "first_name",
          "last_name"
        ]
      },
      "GeneralError": {
        "title": "General Error",
        "type": "object",
        "description": "",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "UnprocessableError": {
        "title": "UnprocessableError",
        "type": "object",
        "description": "",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "object"
          }
        },
        "required": [
          "error",
          "detail"
        ]
      },
      "UpdateProfile": {
        "title": "UpdateProfile",
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        },
        "required": [
          "first_name",
          "last_name"
        ]
      },
      "Account": {
        "title": "Account",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "uud": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string"
          },
          "reference_number": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "bank_account",
              "cash",
              "credit_card",
              "debit_card"
            ]
          }
        },
        "required": [
          "id",
          "uud",
          "description",
          "reference_number",
          "created_at",
          "updated_at",
          "kind"
        ]
      },
      "AuthenticationToken": {
        "title": "AuthenticationToken",
        "type": "object",
        "properties": {
          "authentication_token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "authentication_token",
          "expires_at"
        ]
      },
      "UserCredentials": {
        "title": "UserCredentials",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "total_count": {
            "type": "number"
          },
          "total_pages": {
            "type": "number"
          },
          "current_page": {
            "type": "number"
          },
          "next_page": {
            "type": "number"
          },
          "prev_page": {
            "type": "number"
          }
        },
        "required": [
          "total_count",
          "total_pages",
          "current_page",
          "next_page",
          "prev_page"
        ]
      },
      "StoreAccount": {
        "title": "StoreAccount",
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "reference_number": {
            "type": "string"
          }
        },
        "required": [
          "description",
          "kind",
          "reference_number"
        ]
      },
      "UpdateUser": {
        "title": "UpdateUser",
        "type": "object",
        "properties": {
          "profile": {
            "title": "UpdateProfile",
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            },
            "required": [
              "first_name",
              "last_name"
            ]
          }
        },
        "required": [
          "profile"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Users authentication"
    },
    {
      "name": "Users",
      "description": "Users registration and profile update"
    },
    {
      "name": "Accounts",
      "description": "User accounts management"
    }
  ]
}
