{
  "openapi": "3.0.0",
  "info": {
    "title": "Squeeze API",
    "version": "1.0",
    "description": "Squeeze App API",
    "contact": {
      "name": "Squeeze Team",
      "email": "hugo@squeeze.app",
      "url": "https://squeeze.app"
    },
    "license": {
      "name": "MIT"
    },
    "termsOfService": "https://squeeze.app/terms"
  },
  "servers": [
    {
      "url": "http://squeeze.lvh.me",
      "description": "Development"
    },
    {
      "url": "https://floating-brook-34623.herokuapp.com",
      "description": "Staging"
    },
    {
      "url": "https://api.squeeze.app",
      "description": ""
    }
  ],
  "paths": {
    "/v1/users": {
      "post": {
        "summary": "User registration",
        "tags": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "title": "User",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile": {
                          "title": "Profile",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "uuid": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "description": "General HTTP Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "description": "General HTTP Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "description": "Unprocessable Entity HTTP Error"
                }
              }
            }
          }
        },
        "operationId": "post-v1-users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateUser",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "password_confirmation": {
                        "type": "string"
                      },
                      "profile": {
                        "title": "CreateProfile",
                        "type": "object",
                        "properties": {
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "User registration JSON request structure"
        },
        "description": "Allow user registration with nested profile"
      }
    },
    "/v1/user": {
      "put": {
        "summary": "User profile update",
        "operationId": "put-v1-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "User",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile": {
                          "title": "Profile",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "uuid": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "description": "General HTTP Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "description": "General HTTP Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "description": "Unprocessable Entity HTTP Error"
                }
              }
            }
          }
        },
        "description": "Allow user profile update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateProfile",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "description": "Profile Update"
              }
            }
          },
          "description": "User profile update JSON request structure"
        }
      },
      "patch": {
        "summary": "User profile update",
        "operationId": "patch-v1-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "User",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "profile": {
                          "title": "Profile",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "uuid": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "description": "General HTTP Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "General Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "description": "General HTTP Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "UnprocessableError",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "detail": {
                      "type": "object"
                    }
                  },
                  "description": "Unprocessable Entity HTTP Error"
                }
              }
            }
          }
        },
        "description": "Allow user profile update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateProfile",
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "description": "Profile Update"
              }
            }
          },
          "description": ""
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "1236547890": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "profile": {
                "title": "Profile",
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "uuid": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "Profile": {
        "title": "Profile",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateUser": {
        "title": "CreateUser",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "password_confirmation": {
                "type": "string"
              },
              "profile": {
                "title": "CreateProfile",
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "CreateProfile": {
        "title": "CreateProfile",
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "GeneralError": {
        "title": "General Error",
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "description": "General HTTP Error"
      },
      "UnprocessableError": {
        "title": "UnprocessableError",
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "detail": {
            "type": "object"
          }
        },
        "description": "Unprocessable Entity HTTP Error"
      },
      "UpdateProfile": {
        "title": "UpdateProfile",
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              }
            }
          }
        },
        "description": "Profile Update"
      }
    }
  }
}
